/*
---------------------------------------------------

Star Rating Component!

---------------------------------------------------
*/
.star-radio {
  display: none;
}

.reviews-list-container {
  height:80vh;
  width:80vw;
  overflow-y:auto;
}

.star-container{
  display: grid;
  width: 5em;
  max-height: 1em;
  white-space: nowrap;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
  display: inline-block
}

.layer1 {
  width: 100%;
}

.layer2{
  overflow-x: hidden;
}

/*
---------------------------------------------------

Question Component!

---------------------------------------------------
*/

div.answer-list{
  max-height: 250px;
  overflow-y:auto;
}

div.question-list{
  max-height: 500px;
  width: 80%;
  overflow-y:auto;
  display:block;

}

mark{
  background-color: yellow;
}
div.modal{
  position:fixed;
  width:90%;
  height:90%;
  z-index:1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color:white;
  overflow: auto;
}

div.box{
  /* left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%; */
  margin: auto;
  background-color:white;
}

/* div.select-photo{
  position:fixed;
  width:90%;
  height:90%;
  z-index:1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: cornflowerblue;
} */
/* h2,h3{
  text-align: center;
} */


/*
---------------------------------------------------

Characteristic Rating in Review Form Component!

---------------------------------------------------
*/

.radio-group label {
  display: inline-block;
  text-align: center;
  margin: 0 2em;
}
.radio-group label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

/*
->
*/

.close-icon{
  color:rgb(240, 9, 9);
  position:absolute;
  top:0;
  left:80px;

}
/* .photo-image{
  position:relative;
} */
.photo-container{
  position:relative;
  display: inline-block;
}
.close-save{
  position:relative;
}

.expand-image{
  position:fixed;
  width:300px;
  height:350px;
  top:100px;
  left:330px;
}

/*
---------------------------------------------------

Overview - Main Component!

---------------------------------------------------
*/

.overview-grid {
  display: grid;
  grid-template-columns: 62vw 38vw;
  grid-template-rows: 10vh 550px 26vh;
}

.product-info {
  top: 30px;
  grid-column: 2;
  grid-row: 2;
  position: relative;
  justify-items: stretch;
  align-items: start;
}

.product-description {
  grid-column: 1 / span 2;
  grid-row: 3;
  width: 80%;
  justify-self: center;
}

.product-features {
  list-style: none;
}

li::before {
  content: "✔️ ";
}

.style-selector-container {
  max-width: 240px;
}

.selected-thumbnail-container {
  position: relative;
  display: inline-block;
  height: 42px;
  width: 100%;
  max-width: 42px;
  max-height: 42px;
  margin: 0px 14px 0px 0px;
  border-radius: 30px;
}

.checkmark-overlay {
  position: absolute;
  top: 4px;
  right: 0px;
  border: 1px solid;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  font-size: 5px;
  text-align: center;
  padding: 2px;
  background-color: white;
  z-index: 20;
}

.default-thumbnail {
  position: relative;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  max-width: 42px;
  max-height: 42px;
  width: 100%;
  height: 42px;
  object-fit: cover;
  margin: 5px 12px 5px 0px;
  border: 1px solid lightslategray;
}


/*
---------------------------------------------------

Overview - Carousel Component!

---------------------------------------------------
*/

.overview-carousel-container {
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid lightslategray;
  height: 525px;
  width: 650px;
}

.overview-carousel-arrow-R {
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 225px;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 18px;
  cursor: pointer;
}

.overview-carousel-arrow-L {
  position: absolute;
  z-index: 20;
  left: 88px;
  top: 225px;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 18px;
  cursor: pointer;
}

.overview-carousel-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.overview-thumbnail-list {
  z-index: 11;
  max-width: 50px;
  max-height: 382px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 15px;
  top: 20px;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.overview-carousel-thumbnail {
  max-width: 100%;
  max-height: 50px;
  width: 100%;
  height: 50px;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  border: 1px solid #F5F5F5;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.overview-carousel-thumbnail.selected {
  max-width: 100%;
  width: 100%;
  height: 50px;
  max-height: 50px;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  border: 2px solid #98FB98;
  box-shadow: 0 0 50px #ccc;
}

.overview-carousel-expanded {
  background-image: url('');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100wh;
  position: relative;
  z-index: 10;
  cursor: crosshair;
  overflow: hidden;
  background-repeat: no-repeat;
  transition-timing-function: 2s ease-out;
}

/* .carousel-expanded-img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-expanded-img-zoom {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  background-position: 0px, 0px;
} */

.close-button {
  position: fixed;
  right: 18px;
  top: 18px;
  z-index: 12;
}
