body {
  min-width: 800px;
  max-width: 1280px;
  margin: auto;
  font: 16px 'Optima', sans-serif;
}

/*
---------------------------------------------------

Question Component!

---------------------------------------------------
*/

div.answer-list{
  max-height: 300px;
  overflow-y:auto;
}

div.question,.individual-anaswer{
  margin-bottom: 10px;
}

div.question-body{
  display: grid;
  /* grid-template-columns:7% 30% 6% 6% 10%; */
  grid-template-columns: repeat(10, 10%);
  grid-auto-columns: minmax(10px, auto);
  /* overflow-y:auto; */
  overflow-wrap: break-word;


}

.title{
  grid-column:1;
  /* justify-self: start; */

}

.title-body{
  grid-column:2/span 5;
}
.helpful{
  grid-column: 7/ span 2;
}
.helpful-yes{
  /* grid-column: 8; */
  color: #2200CC;
  background-color: transparent;
  cursor: pointer;

}
.add-answer{
  grid-column: 9;
  color:#2200CC;
  background-color: transparent;
  cursor: pointer;

}
.question-body,.answer{
  margin-bottom: 10px;
}


.answer-list{
  display: grid;
  /* grid-template-columns: 7% 50%; */
  grid-template-columns: repeat(10, 10%);
  grid-auto-columns: minmax(10px, auto);
}

.answer-title{
  grid-column: 1;
  overflow-wrap: break-word;
}
.answer-sublist{
  grid-column: 2/span 5;
}

.answer-helpful-yes,.report{
  color: #2200CC;
  background-color: transparent;
  cursor: pointer;
}

.load-questions{
  margin-left:10%;
  width: 25vw;
}
.add-question{
  width: 25vw;
}
.page-title{
  font-size: 1.5em;
}

mark{
  background-color: yellow;
}

div.modal{
  position:fixed;
  width:100%;
  height:100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  background-color:rgb(0, 0, 0, .85);
  z-index: 2;
}




div.box{
  /* height:80%;
  width:50%; */
  /* margin: auto;
  margin-bottom: 50px; */
  background-color:white;
  box-shadow: 5px 5px 8px #888888;
  grid-column: 2;
  overflow: auto;
}
.box-title,.box-body,.your-question, .your-email,.your-nickname, button,.your-photo {
  margin-left:10px;
}
.body-input {
  width: 30vw;
  height:100px;
  text-align: top;
}
.nickname-input,.email-input{
  width: 30vw;
}
.your-photo {
  margin-bottom: 15px;
}

.image{
  position:relative;
  width: 12vw;
  height: 11vh;
}

div.expand-answer-photo{
  position:fixed;
   top: 10vh;
  /* left: 50px;
  right: 50px;
  bottom: 10px;   */
  width:70vw;
  height:70vh;
  display: grid;
  grid-template-columns: 10% 20% 60% 10% ;
  grid-template-rows: 15% 75% 10%;
  background-color:white;
  padding:30px;
  margin:30px;
  justify-content: center;
}


div.arrow-L{
  position:absolute;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 30px;
  /* float:left; */
  left:12vw;
  top:35vh;
  /* width: 25px; */
  z-index:2;
}
div.arrow-R{
  position:absolute;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 30px;
  float:right;
  top:35vh;
  left:60vw;
  z-index:2;
}

div.expand-answer-thumbnail {
  grid-row:1;
  grid-column:2/span 2;
}
 div.expand-view-section{
  grid-row: 2;
  grid-column: 2 /span 1;
  overflow-wrap: break-word;
  background-color:white;
}

div.expand-photo img {
  width: 56vw;
  height: 50vh;
}

div.expand-photo-question{
  margin-top:3vh;
  width: 100vw;
}

.search-bar{
padding:5px;
width: 100%;
margin-bottom:15px;
}

.date{
  margin-left:5px;
}
.user-name{
  font-size:0.9em;
  margin-bottom: 10px;
}









/*
---------------------------------------------------

Characteristic Rating in Review Form Component!

---------------------------------------------------
*/

.radio-group label {
  display: inline-block;
  text-align: center;
  margin: 0 2em;
}
.radio-group label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

/*
->
*/

.close-icon{
  color:rgb(240, 9, 9);
  position:absolute;
  top:0;
  left:80px;

}
/* .photo-image{
  position:relative;
} */
.photo-container{
  position:relative;
  display: inline-block;
}
.close-save{
  position:relative;
}

.expand-image{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow: auto;
  /* right:5vw;
  bottom:10vh */
}

/*
---------------------------------------------------

Overview - Main Component!

---------------------------------------------------
*/

.overview-grid {
  display: grid;
  grid-template-columns: 65% 35%;
  /* grid-template-rows: 8vh 4vh 65vh 23vh; */
  grid-template-rows: 8vh auto auto auto;
  grid-gap: 10px;
}

/* --------------- HEADER ----------------- */

.header {
  grid-column: 1 / span 2;
  background-color: #5F9EA0;
}

/* --------- ANNOUNCEMENT BANNER ---------- */

.marquee {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  overflow-x: hidden;
  height: 60%;
}

.marquee span {
  display: inline-block;
  width: max-content;
  padding-left: 100%;
  will-change: transform;
  animation: marquee 14s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/* --------- PRODUCT INFO GRID---------- */

.product-info {
  position: relative;
  justify-self: center;
  height: 85%;
  width: 80%;
  top: 30px;
  grid-column: 2 / 2;
  grid-row: 3;

  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 2% 6% auto 5% 6% auto auto; */
  grid-template-rows: 2% 6% auto auto auto auto auto;
  grid-gap: 1em;
}

.star-and-reviews-container {
  grid-row: 1 / 2;
  float: left;
}

.star-rating {
  display: inline-block;
  transform: scale(1.2);
  justify-self: left;
  margin-left: 2%;
}

.read-reviews {
  display: inline-block;
  margin-left: 5%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.category {
  grid-row: 2 / 3;
  font-size: 1.2em;
  margin-top: 5%;
}

.product-name {
  grid-row: 3 / 4;
  font-size: 2.7em;
  margin-top: -1%;
}

.sale-price-container {
  grid-row: 4 / 5;
  font-size: 1.4em;
  display: inline;
}

.sale-price-red {
  font-size: 1em;
  display: inline;
}

.old-price {
  font-size: 1em;
  display: inline;
  margin-left: 0.5%;
}

.price {
  grid-row: 4 / 5;
  font-size: 1.4em;
  display: inline;
}

.style {
  grid-row: 5 / 6;
  font-size: 1.3em;
  margin-top: 1%;
}

.style-selector-container {
  max-width: 350px;
  grid-row: 6 / 7;
  /* overflow-y: auto; */
}

.add-to-cart-container {
  grid-row: 7 / 8;
}

.select-size-prompt {
  font-size: 1.4em;
  color: red;
}

.size-dropdown {
  padding-left: 1em;
  font-size: 1.05em;
  font-weight: 550;
  grid-column: 1;
  height: 3.2em;
  width: 56%;
  margin: 5% 5% 5% 0;
}

.qty-dropdown {
  padding-left: 1em;
  font-size: 1.05em;
  font-weight: 550;
  grid-column: 2;
  height: 3.2em;
  width: 32%;
  margin: 5% 5% 5% 0;
}

.add-to-cart {
  font-size: 1.05em;
  font-weight: 550;
  grid-column: 1 / span 2;
  height: 3.2em;
  width: 94%;
  margin: 0 5% 5% 0;
}

/* ------ PRODUCT DESCRIPTION GRID ------- */

.product-description-container {
  padding-top: 2%;
  grid-column: 1 / span 2;
  grid-row: 4;
  width: 80%;
  justify-self: center;

  display: grid;
  grid-template-columns: 69% 31%;
  grid-template-rows: 10% auto;
  grid-gap: 4%;
}

.product-slogan {
  font-size: 1.2em;
  grid-row: 1;
  grid-column: 1;
  position: relative;
}

.product-description {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  margin-right: -1%;
  margin-top: 5%;
}

.product-description:after {
  content: '';
  position: absolute;
  border-right: 1px solid black;
  right: -2%;
  height: 100%;
  top: -30%;
  text-align: center;
}

.product-features {
  grid-row: 1 / span 2;
  grid-column: 2;
  list-style: none;
  position: relative;
  margin-left: -10%;
  top: 5%;
}

.feature-list::before {
  content: "✔️ ";
}

/* ------------ STYLE SELECTOR CONTAINER ------------ */

.selected-thumbnail-container {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  margin: 0px 23px 0px 0px;
  border-radius: 30px;
}

.checkmark-overlay {
  position: absolute;
  top: 4px;
  right: 0px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 9px;
  width: 9px;
  height: 9px;
  font-size: 8.5px;
  text-align: center;
  padding: 3px;
  background-color: white;
  z-index: 1;
}

.default-thumbnail {
  position: relative;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 60px;
  object-fit: cover;

  margin: 5px 20px 5px 0px;
  border: 1px solid lightslategray;
}

/*
---------------------------------------------------

Overview - Carousel Component!

---------------------------------------------------
*/

.overview-carousel-container {
  margin-left: 2%;
  justify-self: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: relative;
  margin: 10px;
  display: flex;
  border: 1px solid lightslategray;
  height: 92%;
  width: 98%;
}

.overview-carousel-arrow-R {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 50%;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 24px;
  cursor: pointer;
}

.overview-carousel-arrow-L {
  position: absolute;
  z-index: 1;
  left: 100px;
  top: 50%;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 24px;
  cursor: pointer;
}

.overview-carousel-image {
  max-width: 100%;
  max-height: 680px;
  width: 100%;
  object-fit: cover;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.overview-thumbnail-list {
  z-index: 1;
  max-width: 60px;
  max-height: 432px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 3%;
  top: 5%;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.overview-carousel-thumbnail {
  max-width: 100%;
  max-height: 60px;
  width: 100%;
  height: 60px;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.overview-carousel-thumbnail.selected {
  max-width: 100%;
  width: 100%;
  height: 60px;
  max-height: 60px;
  object-fit: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #98FB98;
  box-shadow: 0 0 50px #ccc;
}

.expanded-view-container {
  width:100vw;
  height:100vh;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overview-carousel-expanded {
  background-image: url('');
  cursor: crosshair;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.expanded-carousel-arrow-L {
  position: absolute;
  left: 5%;
  bottom: 50%;
  position: absolute;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 35px;
  cursor: pointer;
  /* z-index: 1000; */
}

.expanded-carousel-arrow-R {
  position: absolute;
  right: 5%;
  bottom: 50%;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 35px;
  cursor: pointer;
  /* z-index: 1000; */
}

.close-button {
  position: fixed;
  right: 2%;
  top: 2%;
  /* z-index: 2; */
  height: 2em;
  width: 4.3em;
  font-size: 1.2em;
  text-align: center;
}

.horizontal-thumbnail {
  display: inline-block;
  position: absolute;
  bottom: 4%;
  /* z-index: 16; */
  font-size: 20px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.horizontal-icon {
  text-shadow: -1px 1px 2px dimgray;
}

/*
---------------------------------------------------

Characteristic Rating in Review Form Component!

---------------------------------------------------
*/

.rating-breakdown-container {
  width: 100%;
  text-align: left;
  vertical-align: middle
};


/*
---------------------------------------------------

Characteristic Rating Sliders

---------------------------------------------------
*/


.sliderbar-container {
  display: border-box;
  width: 100%;
}

.slider-name {
  margin-bottom: 0;
}

.slider-label-container {
  margin: 0;
  list-style: none;
  padding: 0;
}

.sliderbar-label-left {
  font-size: x-small;
  width: 33%;
  margin-left: 0.33%;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}

.sliderbar-label-center {
  font-size: x-small;
  width: 33%;
  margin-left: 0.33%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.sliderbar-label-right {
  font-size: x-small;
  width: 33%;
  margin-left: 0.33%;
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 0px;
  border-top: 16px solid rgb(165, 14, 14);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.slider::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border-top: 16px solid rgb(165, 14, 14);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/*
---------------------------------------------------

Reveiw Component Layout

---------------------------------------------------
*/

.reviews-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  padding-bottom: 10vh;
  max-height: 85vh;
}

.rating-breakdown-grid {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.reveiws-list-grid {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

/*
---------------------------------------------------

Reveiw Tile Layout

---------------------------------------------------
*/

.tile-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  border-bottom: 2px solid black;
  grid-gap: 10px;
}

.star-rating-grid {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding-top: 10px;
}

.review-date-grid {
  grid-row: 1 / 2;
  grid-column: -1 / -2;
  text-align: right;
  padding-top: 10px;
  font-weight: lighter;
  font-size: 0.75rem;
}

.review-summary-grid {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  overflow-wrap: break-word;;
}

.recommended-grid {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.seller-response-grid {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  background: lightgray;
  padding: 20px;
}

.review-tile-buttons-grid {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  font-size: 0.75rem;
}

.btn:hover {
  cursor: pointer;
}

.average-rating {
  white-space: nowrap;
}

.sort-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid black;
  flex: 1;
}

.dropdown-arrow {
  display:inline-block;
  width: 0;
  height: 0;
  border-top: 1em solid black;
  border-right: .6em solid transparent;
  border-left:  .6em solid transparent;
}

.container-title {
  display: inline-block;
  margin-bottom: 2px;
  padding-bottom: 0px;
  font-size: 1.5rem;
  font-variant: small-caps;
}

.emoji {
  font-size: 0.7rem;
}

/*
---------------------------------------------------

Shrouded Modal, also need to set styling within the .modal-bg
style={{ backgroundColor: 'rgba(0,0,0, 0.85)' }}

---------------------------------------------------
*/

.modal-bg {
  width:100%;
  height:100%;
  top: 0%;
  left: 0%;
  position: fixed;
  z-index:2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-shroud {
  margin-top: 10vh;
  width: auto;
  max-height: 74vh;
  overflow: auto;
}

.review-form {
  background-color: white;
  display: inline-block;
  padding-left: 3vw ;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.question-form {
  background-color: white;
  display: inline-block;
  padding-left: 10vw ;
  padding-right: 10vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.modal-img {
  display: inline-block;
  max-width: 95vw;
}

/*
---------------------------------------------------

Button Styling

---------------------------------------------------
*/

button.btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 0 2rem;
  height: 3rem;
  text-align: center;
  font-variant: all-small-caps;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
}

/*
---------------------------------------------------

Star Rating Component!

---------------------------------------------------
*/
.star-radio {
  display: none;
}

.reviews-list-container {
  max-height:80vh;
  width:875px;
  overflow-y:auto;
}

.star-container{
  display: grid;
  width: 10em;
  max-height: 2em;
  white-space: nowrap;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
  display: inline-block
}

.layer1 {
  width: 100%;
}

.layer2{
  overflow-x: hidden;
}

/*
---------------------------------------------------

Characteristic Rating in Review Form Component!

---------------------------------------------------
*/

.radio-group label {
  display: inline-block;
  text-align: center;
  margin: 0 2em;
}
.radio-group label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}