input[type="radio"] {
  display: none;
}

.reviews-list-container {
  height:100vh;
  width:80vw;
  /* background-color:#CCC; */
  overflow-y:auto;
  /* float:left;
  position:relative;
  margin-left:-5px; */
}