/*
---------------------------------------------------

Star Rating Component!

---------------------------------------------------
*/
.star-radio {
  display: none;
}

.reviews-list-container {
  height:80vh;
  width:80vw;
  overflow-y:auto;
}

.star-container{
  display: grid;
  width: 5em;
  max-height: 1em;
  white-space: nowrap;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
  display: inline-block
}

.layer1 {
  width: 100%;
}

.layer2{
  overflow-x: hidden;
}

/*
---------------------------------------------------

Question Component!

---------------------------------------------------
*/

div.answer-list{
  max-height: 250px;
  overflow-y:auto;
}

div.question-list{
  max-height: 500px;
  width: 80%;
  overflow-y:auto;
  display:block;

}

mark{
  background-color: yellow;
}
div.modal{
  position:fixed;
  width:90%;
  height:90%;
  z-index:1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color:white;
  overflow: auto;
}

div.box{
  /* left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%; */
  margin: auto;
  background-color:white;
}

div.expand-answer-photo{
  position:fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width:200px;
  height:150px;
}
/* div.select-photo{
  position:fixed;
  width:90%;
  height:90%;
  z-index:1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: cornflowerblue;
} */
/* h2,h3{
  text-align: center;
} */


/*
---------------------------------------------------

Characteristic Rating in Review Form Component!

---------------------------------------------------
*/

.radio-group label {
  display: inline-block;
  text-align: center;
  margin: 0 2em;
}
.radio-group label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

/*
->
*/

.close-icon{
  color:rgb(240, 9, 9);
  position:absolute;
  top:0;
  left:80px;

}
/* .photo-image{
  position:relative;
} */
.photo-container{
  position:relative;
  display: inline-block;
}
.close-save{
  position:relative;
}

.expand-image{
  position:fixed;
  width:300px;
  height:350px;
  top:100px;
  left:330px;
}

.overview-carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid lightslategray;
  height: 450px;
  width: 550px;
}

.overview-carousel-arrow-R {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 225px;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 18px;
}

.overview-carousel-arrow-L {
  position: absolute;
  z-index: 10;
  left: 103px;
  top: 225px;
  color: #FFFAFA;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 18px;
}

.overview-carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.overview-thumbnail-list {
  z-index: 11;
  max-width: 70px;
  max-height: 380px;
  overflow-y: auto;
  left: 15px;
  top: 20px;
  position: absolute;
  text-align: center;
}

.overview-carousel-thumbnail {
  max-width: 100%;
  max-height: 60px;
  object-fit: cover;
  border: 1px solid;
}
